@page
@model AboutModel
@{
	ViewData["Title"] = "About";
}

<h1>About Build Your Bowl</h1>
<p>Founded in 2024 by students of the CIS 400 course, <i>Build Your Bowl</i> offers customizable bowl and nacho options that are definitely 
	different from <i>Chipotle</i>, along with sides, drinks, and kids meals.</p>
